.button {
  height: 50px;
  width: 100px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  padding: 3px;
  background: #6221ea;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #ffff;
}

.title {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #ffff;
}

.avatar {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000000;
}

@media(min-width: 40em){
  .avatar{
    height: 18rem;
    width: 18rem;
  }
  .title{
    font-size: 4rem;
  }
}

@media(max-width: 425px) {
  .mobile-padding{
    padding-top: 0rem;
  }
}