.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.grid-stretch {
  justify-content: stretch;
}

.flex-end {
  flex-direction: row;
}

.flex1 {
  flex: 1;
  text-align: right;
}

.flex-grow {
  flex-grow: 1;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.grid-end {
  grid-column-start: 9;
}

.center-grid {
  grid-column-start: 4;
  grid-column-end: 7;
}

.menu {
  display: flex;
  justify-content: center;
}

.z-index {
  z-index: 1;
}

.relative {
  position: relative;
}

.center{
  text-align: center;
}

.gallery {
  grid-column-start: 3;
  grid-column-end: 8;
}