.menu-button {
  border-color: rgb(216, 216, 216);
  border-style: solid;
  border-width: 0px;
  padding: 1px 7px 2px;
  position: absolute;
  margin-top: 40px;
  background: 0;
}
.z-index {
  z-index: 1;
}